<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <htb.devfx>
    <framework>
      <modules>
        <!--Test模块-->
        <add name="question" type="DevFxTest.QuestionModule,DevFxTest" linkNode="../../../questions"/>
      </modules>
    </framework>

    <questions type="DevFxTest.QuestionManager,DevFxTest">
      <questions>
        <question1  id="1" text="1+1=" answer="2" />
        <question2  id="2" text="3+2=" answer="5" />
        <question3  id="3" text="4+5=" answer="9" />
        <question4  id="4" text="3+5=" answer="8" />
        <question5  id="5" text="6+2=" answer="8" />
        <question6  id="6" text="0+7=" answer="7" />
      </questions>
     
    </questions>

   </htb.devfx>
  
</configuration>