<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<htb.devfx>
		<framework>
			<modules>
				<!--配置管理模块-->
				<add name="config" type="HTB.DevFx.Config.Configer, HTB.DevFx" linkNode="../../../config" />

				<!--日志管理模块-->
				<add name="log" type="HTB.DevFx.Log.Loggor, HTB.DevFx" linkNode="../../../log" />

				<!--异常处理模块-->
				<add name="exception" type="HTB.DevFx.ExceptionManagement.Exceptor, HTB.DevFx" linkNode="../../../exception" />

				<!--缓存管理模块-->
				<add name="cache" type="HTB.DevFx.Cache.Cacher, HTB.DevFx" linkNode="../../../cache" />

				<!--邮件发送模块-->
				<add name="mail" type="HTB.DevFx.Utils.Mail.MailModule, HTB.DevFx" linkNode="../../../mail" />
			</modules>
		</framework>

		<!--配置管理模块的配置节-->
		<config type="HTB.DevFx.Config.XmlConfigImpl.ConfigManager, HTB.DevFx" />

		<!--日志管理模块的配置节-->
		<log type="HTB.DevFx.Log.LogManager, HTB.DevFx">
			<loggers>
				<!--以文本文件方式的日志记录器-->
				<add name="textLogger" minLevel="min" maxLevel="max" type="HTB.DevFx.Log.LoggerImpl.TextLogger, HTB.DevFx">
					<!--注意在使用时需配置directory属性，以指定日志存放的目录，filenameFormat为日志文件名格式，遵循.NET格式化语法-->
					<file filenameFormat="yyyy-MM-dd\.\l\o\g" directory="..\Support\Logs" />
				</add>
				<!--以邮件通知方式的日志记录器
				<add name="mailLogger" minLevel="min" maxLevel="max" type="HTB.DevFx.Log.LoggerImpl.MailLogger, HTB.DevFx">
					--><!--bufferSize为收集到的日志数后再去发送邮件，mailForm为发件人地址，mailSubject为邮件主题，mailList为邮件接收人列表，多个接收人用英文分号“;”隔开
					<mail bufferSize="5" mailFrom="开发组&lt;dev@devfx.net&gt;" mailSubject="来自统一开发框架系统日志" mailList="R2@DevFx.NET" />
				</add>-->
				<!--控制台输出方式的日志记录器，仅提供给控制台应用程序使用
				<add name="consoleLogger" minLevel="min" maxLevel="max" type="HTB.DevFx.Log.LoggerImpl.ConsoleLogger, HTB.DevFx" />-->
			</loggers>
		</log>

		<!--缓存管理模块的配置节-->
		<cache type="HTB.DevFx.Cache.CacheManager, HTB.DevFx.BaseFx">
			<caches>
				<!--<add name="default" type="HTB.DevFx.Cache.Cache, HTB.DevFx.BaseFx" interval="1000">
					<cacheStorage type="HTB.DevFx.Cache.NullCacheStorage, HTB.DevFx.BaseFx" />
				</add>-->
			</caches>
		</cache>

		<!--异常处理模块的配置节-->
		<exception type="HTB.DevFx.ExceptionManagement.ExceptionManager, HTB.DevFx">
			<logModule name="log" />
			<handlers>
				<!--WEB应用程序需要使用的异常处理器，注意配置defaultRedirect为发生错误时自动转向的页面地址-->
				<add name="HttpWebExceptionHandler"
					exceptionType="HTB.DevFx.ExceptionManagement.Web.HttpWebException, HTB.DevFx"
					type="HTB.DevFx.ExceptionManagement.Web.HttpWebExceptionHandler, HTB.DevFx"
					exceptionFormatter="HTB.DevFx.ExceptionManagement.Web.HttpWebExceptionFormatter, HTB.DevFx" />
				<!--缺省的异常处理器-->
				<add name="DefaultExceptionHandler"
					exceptionType="System.Exception"
					exceptionFormatter="HTB.DevFx.ExceptionManagement.ExceptionFormatter, HTB.DevFx"
					type="HTB.DevFx.ExceptionManagement.ExceptionHandler, HTB.DevFx" />
			</handlers>
		</exception>

		<!--邮件发送模块的配置节-->
		<mail>
			<!--SMTP服务器-->
			<smtpServer />
			<!--SMTP服务器端口，默认为25-->
			<serverPort />
			<!--SMTP服务器认证用户名-->
			<userName />
			<!--SMTP服务器认证密码-->
			<password />
		</mail>
	</htb.devfx>
</configuration>